# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so
.pyenv

# FastAPI
.env
*.log

# Vite
node_modules/
dist/
*.local
*.env.local
*.env.*.local
.vite/

# Vue
*.local
*.env.local
*.env.*.local
node_modules/
dist/
*.log

# General
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp